It's login page, welcome!
<% if @user %>
<br>
Hi, <%= @user.name %>!
<br>
Session id: <%= @sess_id %>
<br>
<%= @error %>
<br>
<% end %>

<%= form_for :user, url: {action: 'create'} do |u| %>
<%= u.text_field :name, placeholder: 'имя' %>
<%= u.password_field :password, placeholder: 'пароль' %>
<%= u.submit "Ok" %>
<% end %>


<button onclick="send()">send to /auth.json</button>
<script>
function send() {
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/auth.json', false);
	xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
	xhr.send("user[name]="+user_name.value+"&user[password]="+user_password.value);
	alert("status: "+xhr.status+"\nresponse:\n"+xhr.responseText);
	//document.body.outerHTML = xhr.responseText;
}
</script>
