
<table border="1" cellspacing="0">
<thead>
    <th>Name</th> 
    <th>добавлен</th>
    <th></th>
</thead>
<% @users.each do |u| %>
    <tr><td><%= u.name %></td>
    <td><%= u.created_at %></td>
    <td><%= link_to "Результаты боев", battle_results_path(:user => u.id), { :class => "btn" } %></td>
<% end %>
</table><br>


<!--<% @users.each do |u| %>
Id <%= u.id %>: <%= u.name %> - <%= u.created_at %><%= link_to "Battle results", battle_results_path(:user => u.id) %><br>
<% end %>-->

