<!--create {|a| a.to_s}= @user.errors.messages %-->
<% if @user.errors %>
    <% for message in @user.errors.full_messages %>
        <li style="color: red"><%= message %></li>
    <% end %>
<% end %>

<%= form_for :user, url: {action: 'create'} do |u| %>
<%= u.text_field :name, placeholder: 'имя' %>
<%= u.text_field :email, placeholder: 'мыло' %>
<%= u.password_field :password, placeholder: 'пароль' %>
<%= u.submit "Ok", :class => "btn" %>
<% end %>


<button class="btn" onclick="send()">send to /users.json</button>
<script>
function send() {
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/users.json', false);
	xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
	xhr.send("user[name]="+user_name.value+"&user[email]="+user_email.value+"&user[password]="+user_password.value);
	alert("status: "+xhr.status+"\nresponse:\n"+xhr.responseText);
	//document.body.outerHTML = xhr.responseText;
}
</script>
