<h3>Результаты боев 
<% if @user %>
  пользователя <%= @user.name %> 
<% end %>
:</h3>
<table border="1" cellspacing="1">
<thead><td>id</td> <td>battle id</td> <td>user id</td> <td>chips</td></thead>
</table><br>

<!--table border="1" cellspacing="1">
<thead><td>user</td> <td>chips</td></thead>
<% @redis.keys("user:*").each do |key| %>
<tr><td><%= key %></td><td><%= @redis.get(key) %></td></tr>
<% end%>
</table-->
