<h2>Эпически информативная страница</h2>
<h3>users:</h3>
<table border="1" cellspacing="1">
<thead><td>id</td> <td>name</td> <td>email</td> <td>password</td> <td>sess id</td></thead>
<% User.all.each do |u| %>
<tr>
	<td><%= u.id %></td>
	<td><%= u.name %></td>
	<td><%= u.email %></td>
	<td><%= u.password %></td>
	<td><%= u.sess_id %></td>
</tr>
<% end %>
</table><br>

<h3>battles:</h3>
<table border="1" cellspacing="1">
<tr><td>id</td><% Battle.all.each do |b| %><td><%= b.id %></td><% end %></tr>
<tr><td><u>O</u>pened/<u>C</u>losed</td><% Battle.all.each do |b| %><td><%= b.status==1?"c":"o" %></td><% end %></tr>
</table><br>

<h3>battle results:</h3>
<table border="1" cellspacing="1">
<thead><td>id</td> <td>battle id</td> <td>user id</td> <td>chips</td></thead>
<% BattleResult.all.each do |br| %>
<tr>
	<td><%= br.id %></td>
	<td><%= br.battle_id %></td>
	<td><%= br.user_id %></td>
	<td><%= br.chips %></td>
</tr>
<% end %>
</table><br>

<hr>

<h3>Создание боя</h3>
Всё просто: <b>POST</b> на адрес, который в кнопке.<br>
В ответ - айди нового боя. Что-то типа <b>{"id": 5}</b>.<br>
<button id="battle_send_button" onclick="send(battle_dest_url, null)"></button><br>
*само не обновляется, жать F5*<br><br>


<h3>Создание результатов боя</h3>
Отправка результатов о бое с id=1 для юзеров 1 и 2, собравших 10 и 20 чипов соответственно.<br>
Можно <a href="javascript:result_multi.value='id=1&amount=30'">послать инфу о себе</a>.<br>
(уже нельзя. но можно раскомментировать кусок в battle_resilts_controller.rb)<br>
Содержимое этого поля шлётся просто как текст <b>POST</b>'ом.<br>
Возвращает <b>{"error": "error_text"}</b>, текст: "no battle id", или "no battle with id=&lt;id&gt;", или "" (когда всё ОК).<br>
<textarea id="result_multi" rows="2" cols="96"></textarea><br>
<button id="result_send_button" onclick="send(result_dest_url, result_multi.value)"></button><br>
*само не обновляется, жать F5*<br><br>


<h3>А ещё...</h3>
А ещё можно (и нужно) в процессе боя слать информацию о собранном по <b>UDP</b> на <b>3001й</b> порт.<br>
Слать в виде <b>uid:amount:sess_id.</b><br>
Например <b>1:10:0.235346234235</b>, т.е. юзер с id=1 собрал 10 чипов.<br>
Айди боя, к сожалению, пока в результатах не учитывается. Просто сумма по всем.<br>
Если получися успешно отправить, <a href="/battle_results">тут</a> будет списочек результатов.<br>
Примерно так в Юнити шёлтся UDP:
<pre>
using System.Net.Sockets;
remoteEndPoint = new IPEndPoint(IPAddress.Parse("127.0.0.1"), 3001);
client = new UdpClient();
byte[] data = Encoding.UTF8.GetBytes(text);
client.Send(data, data.Length, remoteEndPoint);
</pre>

<script>
sess_id = document.URL.match(/\?.*/)[0];

battle_dest_url = "/battles.json"+sess_id;
battle_send_button.innerHTML = "заPOSTить на <b>"+battle_dest_url+"</b>";

result_dest_url = "/battle_results.json"+sess_id;
result_send_button.innerHTML = "заPOSTить на <b>"+result_dest_url+"</b>";
result_multi.value = "id=1&user1=10&user2=20";

function send(url, data) {
	var xhr = new XMLHttpRequest();
	xhr.open('POST', url, false);
	xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
	xhr.send(data);
	if (xhr.status == 200)
		alert(xhr.responseText);
	else
		document.body.outerHTML = xhr.responseText;
}
</script>
