<!DOCTYPE html>
<html>
<head>
  <title>Minecamp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <!--div class="navbar navbar navbar-inverse navbar-fixed-top"-->
        <div class="navbar-inner">
            <div class="container">
            <a class="brand" href="/">Minecamp</a>
            <ul class="nav">
                <li><a href="/users">Пользователи</a></li>
                <li><a href="/battles">Бои</a></li>
                <li><a href="/battle_results">Результаты боев</a></li>
            </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>

</body>
</html>
